/*--Nosotros--*/

.Nosotros {
  background: url("image/images (23).jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	
}

#nav {
	opacity: .8;

}

.presentacion {
	margin: 5% 55% 2% 5%;
	padding: 1% 1% 1% 1%;
	color: white;
	background-color: black;
	opacity: .7;

}

#logo{
	height: 5%;
	width: 5%;
}

/*--Adopciones--*/


.img-fluid {
	margin: 2% 0% 2% 0%;
	border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;	
}

#Adopt1 {
	margin: 2% 0% 0% 8%;
	padding:1% 1% 1% 1%;
}

#Adopt2 {
	padding:10% 0% 10% 0%;
}


/*--Donacionnes--*/

#row {
	margin: 2% 2% 2% 2%;
	
}

#col {
	margin: 2% 2% 2% 2%;
	padding: 1% 1% 1% 1%;
	color: white;
	background-color: black;
	opacity: .7;
}

/*--Tiendas--*/

.Tiendas1 {
	margin: 1% 1% 1% 1%;
	padding: 1% 1% 1% 1%;
	
}

#PetShopDesc {
	margin: 15% 0% 2% 0%;
	padding: 25% 0% 2% 0%;
	
}

/*--Protectoras--*/

#col1 {
	margin: 2% 2% 2% 2%;
	padding: 1% 1% 1% 1%;
}